#routing-container,
html {
  background: linear-gradient(
    to right,
    rgb(60, 50, 120),
    rgb(80, 90, 150),
    rgb(100, 110, 170),
    rgb(120, 130, 190),
    rgb(180, 150, 200),
    rgb(0, 180, 230),
    rgb(0, 250, 260),
    rgb(60, 50, 120),
    rgb(80, 90, 150),
    rgb(100, 110, 170),
    rgb(120, 130, 190),
    rgb(180, 150, 200),
    rgb(0, 180, 230),
    rgb(0, 250, 260)
  );
  /* background-image: url("/public/img/BrutalLifeCycleJavascript.png");
  background-size: 100%;
  background-repeat: no-repeat; */
}
